.root {
  position: fixed;
  left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.label {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 3rem;
  color: #adb5bd;
}

@media (max-width: 768px) {
  .label {
    font-size: 32px;
  }
}

.description {
  max-width: 500px;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.title {
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 38px;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}